body {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: white;
}

.header {
  background-image: url("../img/desktop_1.jpg");
  background-size: cover;
  height: 100vh;
}

header > .container > .row {
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

section {
  background: rgba(0, 0, 0, 0.8);
  margin-top: 15px;
  padding-bottom: 15px;
}

h5 {
  padding-top: 8px;
}

.card-body .row .col-2 {
  margin-left: 10px;
}

.card-body .row .col-12 {
  margin-left: 15px;
  display: flex;
  margin-bottom: 8px;
  justify-content: space-around;
  padding-left: 25vw;
  padding-right: 25vw;
}
.card-body .row .col-12 p {
  margin-left: 25px;
}
.vscicon {
  width: 45px;
  height: 45px;
}

i {
  color: orange;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
}

.carousel-indicators li {
  background-color: black;
}
.carousel-inner {
  height: 95vh;
}

.carousel-inner img {
  height: 100vh;
}

.btn {
  color: orange;
}

.contact {
  align-items: center;
  justify-content: center;
  margin: 25px;
  padding: 25px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
}

.icon-box > h4 {
  padding-left: 15px;
}

.icono {
  display: flex;
  justify-content: center;
  color: #ff914d;
}

.fa-github {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.footer {
  background: rgba(0, 0, 0, 0.9);
  height: 220px;
  padding-top: 15px;
}
